body {
    font-family: Oswald, monospace;
    background-color: #f2f2f2;
}

form {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    font-family: Oswald, monospace;
    background-color: #007ACC;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: shake 0.5s;
}

button[type="submit"]:active {
    animation: shake 1s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-20px);
    }

    40% {
        transform: translateX(10px);
    }

    60% {
        transform: translateX(-10px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}


#result-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}



#loading-animation {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #007ACC;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.3s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}